footer {
  background-color: #b8e3ea;
  color: #123f9e;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Pour le positionner en bas de la page */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: #2642a1;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}
