<div class="login-container">
  <div class="login-box">
    <!-- Logo en haut au centre -->
    <div class="logo-container">
      <img src="assets/logos.png" alt="Logo de l'application" class="logo">
    </div>
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Entrez votre email"
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          Email invalide.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Entrez votre mot de passe"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Mot de passe requis.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
      <p class="register-link">
        Pas encore de compte ? <a routerLink="/register">S'inscrire</a>
      </p>
    </form>
  </div>
</div>
